# Ignora file di librerie, log e dati temporanei
*.lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.[oa]
*~

# Ignora file temporanei di backup e Mac OS
*.#
**/.DS_Store
.DS_Store

# Ignora cartella fatlib
fatlib/

# Ignora compilazioni di Raku
.precomp/

# Ignora configurazioni IDE (IntelliJ IDEA, ecc.)
*.iml
.idea/
